/* Toàn bộ các lớp được đặt trong lớp cha `.login` để scoped */
.login {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #e06666 0%, #f5d1d1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login-form {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .logo img {
  width: auto;
  height: 45px;
  margin-bottom: 40px;
}

.login h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.login .input-group {
  display: flex;
  align-items: center;
  position: relative;
  width: 320px;
  margin-bottom: 30px;
  border-bottom: 2px solid #a19f9d; /* Viền dưới cho cả input và icon */
  padding-bottom: 5px; /* Tạo khoảng cách giữa nội dung và viền dưới */
}

.login .input-group input {
  width: 100%; /* Chiều rộng của input chiếm toàn bộ chiều rộng của input group */
  padding: 0 10px; /* Giảm padding bên trái và phải, chỉ để padding trên/dưới */
  border: none; /* Xóa bỏ toàn bộ viền */
  font-size: 18px; /* Cỡ chữ của nội dung nhập vào */
  background-color: transparent; /* Giữ nền trong suốt */
}

/* Đổi màu viền dưới khi input bên trong được focus */
.login .input-group:focus-within {
  border-bottom: 2px solid #e06666; /* Màu viền nổi bật khi nhấn */
  transition: border-color 0.3s ease; /* Hiệu ứng mượt mà khi chuyển đổi */
}

.login .input-group input:focus {
  outline: none; /* Bỏ viền mặc định của trình duyệt */
}

.login .input-group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.login .login-btn {
  background: linear-gradient(270deg, #e06666 0%, #f5d1d1 100%);
  color: white;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.login .login-btn:hover {
  background-color: #e55050;
}