.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between; /* Căn logo bên trái và nút đăng ký bên phải */
    align-items: center;
 }
 
 .navbar .logo {
     width: 200px; /* Kích thước logo */
 }
 
 .navbar button {
     background: transparent;
     font-size: 18px;
     color: #49557e;
     border: 1px solid #000000;
     padding: 10px 30px;
     border-radius: 50px;
     cursor: pointer;
     transition: 0.3s;
 }
 
 .navbar button:hover {
     background-color: #b2bde2;
 }
 