.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Add space between username and avatar */
  }
  
  .username {
    font-size: 20px; /* Adjust font size */
    color: #333; /* Adjust text color */
    margin-right: 30px;
  }
  
  .profile-pic {
    width: 40px; /* Adjust avatar size */
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
 
 .navbar button {
     background: transparent;
     font-size: 18px;
     color: #49557e;
     border: 1px solid #000000;
     padding: 10px 30px;
     border-radius: 50px;
     cursor: pointer;
     transition: 0.3s;
     margin-right: 40px;
 }
 
 .navbar button:hover {
     background-color: #b2bde2;
 }
